.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.alerts {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: var(--white-color);
  height: fit-content;
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--white-color);
}